<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Editar Procesador de Pago</title>
</head>

<body>
<main layout:fragment="content">
    <div class="col-12">
        <h2>Editar Tipo de Tarjeta </h2>
        <form th:object="${processor}" th:action="@{/processors/edit/} + ${processor.id}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="id">Código del Procesador</label>
                <input readonly th:field="*{id}" id="id"
                       type="text"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('id')} ? 'is-invalid' : ''">
            </div>
            <div class="form-group">
                <label for="name">Nombre del Procesador</label>
                <input autocomplete="off" autofocus th:field="*{name}" id="name"
                       placeholder="Escribe el nombre del procesador" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="name">Método del Procesador</label>
                <input autocomplete="off" autofocus th:field="*{method}" id="method"
                       placeholder="Escribe el método del procesador" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <br>
            <div>
                <label for="name">Método de Pago</label>
                <select th:field="*{type}" class="form-select" aria-label="Default select example">
                    <option th:each="paymentType: ${paymentTypes}"
                            th:value="${paymentType.id}"
                            th:text="${paymentType.name}"/>
                </select>
            </div>
            <br>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" name="state" id="state"
                       th:checked="${processor.state}">
                <label class="form-check-label" for="state">
                    Se encuentra activo
                </label>
            </div>
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="verification" id="verification"
                       th:checked="${processor.verification}">
                <label class="form-check-label" for="state">
                    Requiere verificación
                </label>
            </div>
            <br>
            <div th:if="${processor.getType().getName() == 'Tarjeta de Crédito o Débito'}">
                <p>
                    <label>Tipos de Tarjeta:
                        <input type="checkbox" name="cardTypes"
                               th:each="cardType : ${cardTypes}"
                               th:text="${cardType.name} + '   ' "
                               th:value="${cardType.id}"
                               th:field="*{cardTypes}"
                        />
                    </label>
                </p>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            &nbsp;<a class="btn btn-danger" th:href="@{/processors/show}">Cancelar</a>
        </form>
    </div>
</main>
</body>
</html>