<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Mostrar Procesadores de Pago</title>
</head>
<body>

<main layout:fragment="content">
    <div class="col-12">
        <h2>Lista de Procesadores de Pago</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>
        <a class="btn btn-success mb-2" th:href="@{/processors/create}">Agregar</a>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Activo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="processor : ${processors}">
                    <td th:text="${processor.id}"></td>
                    <td th:text="${processor.name}"></td>
                    <td th:text="${processor.type.getName()}"></td>
                    <td th:if="${processor.getState()}">Sí</td>
                    <td th:unless="${processor.getState()}">No</td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/processors/edit/} + ${processor.id}">Editar <i
                                class="fa fa-edit"></i></a>
                    </td>
                    <td>
                        <form th:action="@{/processors/delete}" method="post">
                            <input type="hidden" name="id" th:value="${processor.id}"/>
                            <button type="submit" class="btn btn-danger">Eliminar <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>