<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Crear Tiquete de Descuento</title>
    <!--<link th:href="@{/css/bootstrap.css}" rel= "stylesheet" href="../static/css/bootstrap.css"> -->
    <!-- <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script> -->
    <!-- <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<main layout:fragment="content">
    <div class="col-12">
        </nav>
        <h2>Información del Tiquete de Descuento</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>

        <form th:object="${discountticket}" th:action="@{/discounttickets/createMaintenance}" method="post">
            <div class="form-group">
                <label for="id">Código del Tiquete</label>
                <input autocomplete="off" th:field="*{id}" id="id" placeholder="Escribe el código del tiquete"
                       type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('id')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{id}"></div>
            </div>
            <div class="form-group">
                <label for="name">Descripción del Tiquete</label>
                <input autocomplete="off" autofocus th:field="*{name}" id="name"
                       placeholder="Escribe el nombre del tiquete" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="stock">Disponibles</label>
                <input autocomplete="off" autofocus th:field="*{stock}" id="stock"
                       placeholder="Escribe la cantidad disponible" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{stock}"></div>
            </div>
            <div class="form-group">
                <label for="percent">Porcentaje de Descuento</label>
                <input autocomplete="off" autofocus th:field="*{percent}" id="percent"
                       placeholder="Escribe el porcentaje de descuento" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('percent')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{percent}"></div>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-warning" th:href="@{/discounttickets/showMaintenance}">Ver todos</a>

        </form>
    </div>
</main>
</body>
</html>
