<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Agregar Tipo de Precio</title>
</head>

<body>
<main layout:fragment="content">
    <div class="col-12">
        <h2>Agregar Tipo de Precio</h2>
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>

        <form th:object="${priceType}" th:action="@{/pricetypes/create}" method="post">
            <div class="form-group">
                <label for="id">Código del Tipo de Precio</label>
                <input autocomplete="off" th:field="*{id}" id="id" placeholder="Escribe el id del tipo de precio"
                       type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('id')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{id}"></div>
            </div>
            <div class="form-group">
                <label for="name">Nombre del Tipo de Precio</label>
                <input autocomplete="off" autofocus th:field="*{name}" id="name"
                       placeholder="Escribe el nombre del tipo de precio" type="text"
                       class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <br>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-warning" th:href="@{/pricetypes/show}">Ver todos</a>
        </form>
    </div>
</main>

</body>
</html>
